#nav-bar {
    background-color: orange;
    padding: 1mm;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.box-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

#home {
    text-align: left;
    color:yellow;
    text-decoration: none;
}

#high-score {
    color:yellow;
    text-decoration: none;
}

#countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding : 5px;
  background-color: lightblue;
  width: 200px;
  margin: 30px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

#quiz {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 60%;
    margin: 0px 30px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.answerChoice {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#startQuiz {
    background-color: lightcoral;
    display: block;
    
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 5px;   
    
}

#gameOverTxt {
    font-weight: bold;
    font-size: 40px;
    color: red;
}
